In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.linear_model import LinearRegression

# Load the new dataset
# Make sure "D600 Task 1 Dataset 1.csv" is in the same folder
df = pd.read_csv('D600 Task 2 Dataset 1 Housing Information.csv')

# Drop the ID column (not useful for prediction)
df = df.drop(columns=['ID'])

# Preview the data
print("Data Shape:", df.shape)
df.head()

Data Shape: (7000, 21)

,Price,SquareFootage,NumBathrooms,NumBedrooms,BackyardSpace,CrimeRate,SchoolRating,AgeOfHome,DistanceToCityCenter,EmploymentRate,...,RenovationQuality,LocalAmenities,TransportAccess,Fireplace,HouseColor,Garage,Floors,Windows,PreviousSalePrice,IsLuxury
0,255614.8992,566.62,1.000000,4,779.42,20.56,5.62,39.46,10.08,97.29,...,4.93,4.44,4.55,Yes,Blue,No,1,13,181861.54230,0
1,155586.0947,1472.34,1.000000,2,656.13,15.62,5.63,40.51,7.89,93.22,...,4.08,5.56,6.83,No,Green,No,1,17,50042.59757,0
2,131050.8324,550.00,1.779354,3,754.57,12.47,9.20,48.38,23.74,96.60,...,4.26,8.07,8.48,Yes,Green,Yes,2,34,48400.34440,0
3,151361.7125,941.81,2.035254,2,439.59,22.22,7.08,94.67,5.22,91.45,...,4.45,5.00,6.27,Yes,Red,No,1,14,84594.12145,0
4,113167.6128,550.00,1.064644,3,353.03,8.28,5.93,16.80,43.13,86.50,...,3.36,5.46,6.99,No,White,Yes,1,21,22934.59654,0

In [2]:
# 1. Binary Encoding (Yes=1, No=0)
binary_cols = ['Fireplace', 'Garage']
for col in binary_cols:
    # Maps if the column still contains 'Yes'/'No' strings (dtype 'object')
    if df[col].dtype == 'object' and df[col].astype(str).str.strip().isin(['Yes', 'No']).any():
        df[col] = df[col].astype(str).str.strip().map({'Yes': 1, 'No': 0})
    # Convert to category type to ensure describe shows categorical stats.
    df[col] = df[col].astype('category')

# Convert to category type to ensure describe() shows categorical stats.
df['IsLuxury'] = df['IsLuxury'].astype('category')

# 2. One-Hot Encoding for HouseColor
if 'HouseColor' in df.columns:
    df = pd.get_dummies(df, columns=['HouseColor'], drop_first=True)

# 3. Remove rows with negative values.
initial_rows = df.shape[0]
df = df[df['PreviousSalePrice'] >= 0]
df = df[df['Windows'] >= 0]
removed_rows = initial_rows - df.shape[0]
print(f"Removed {removed_rows} rows with negative 'PreviousSalePrice' or 'Windows'.")

# 4. Check for Nulls.
print("\nNull Values:\n", df.isnull().sum())

# Show cleaned dataframe info
print("\nCleaned Data Info:")
df.info()

Removed 78 rows with negative 'PreviousSalePrice' or 'Windows'.

Null Values:
 Price                   0
SquareFootage           0
NumBathrooms            0
NumBedrooms             0
BackyardSpace           0
CrimeRate               0
SchoolRating            0
AgeOfHome               0
DistanceToCityCenter    0
EmploymentRate          0
PropertyTaxRate         0
RenovationQuality       0
LocalAmenities          0
TransportAccess         0
Fireplace               0
Garage                  0
Floors                  0
Windows                 0
PreviousSalePrice       0
IsLuxury                0
HouseColor_Green        0
HouseColor_Red          0
HouseColor_White        0
HouseColor_Yellow       0
dtype: int64

Cleaned Data Info:
<class 'pandas.core.frame.DataFrame'>
Index: 6922 entries, 0 to 6999
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Price                 6922 non-null   float64
 1   SquareFootage         6922 non-null   float64
 2   NumBathrooms          6922 non-null   float64
 3   NumBedrooms           6922 non-null   int64
 4   BackyardSpace         6922 non-null   float64
 5   CrimeRate             6922 non-null   float64
 6   SchoolRating          6922 non-null   float64
 7   AgeOfHome             6922 non-null   float64
 8   DistanceToCityCenter  6922 non-null   float64
 9   EmploymentRate        6922 non-null   float64
 10  PropertyTaxRate       6922 non-null   float64
 11  RenovationQuality     6922 non-null   float64
 12  LocalAmenities        6922 non-null   float64
 13  TransportAccess       6922 non-null   float64
 14  Fireplace             6922 non-null   category
 15  Garage                6922 non-null   category
 16  Floors                6922 non-null   int64
 17  Windows               6922 non-null   int64
 18  PreviousSalePrice     6922 non-null   float64
 19  IsLuxury              6922 non-null   category
 20  HouseColor_Green      6922 non-null   bool
 21  HouseColor_Red        6922 non-null   bool
 22  HouseColor_White      6922 non-null   bool
 23  HouseColor_Yellow     6922 non-null   bool
dtypes: bool(4), category(3), float64(14), int64(3)
memory usage: 1021.1 KB